<%- layout("layouts/boilerplate") %> 

    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4 offset-sm-none offset-md-4">
            <div class="card shadow">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1515696955266-4f67e13219e8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80"
                    alt="">
            <h4 class="text-center card-title pt-3">
                Login
            </h4>
            <div class="card-body">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required autofocus>
                    <div class="valid-feedback">Correct!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">Correct!</div>
                </div>
                <button class="btn btn-outline-primary btn-block">Login</button>
            </form>
        </div>
        </div>
    </div>
    </div>
